<div class="container-small-card">

    <div class="container-small-card-content"> 
        <div class="small-card-photo">
            <img src="https://d2d7ho1ae66ldi.cloudfront.net/ArquivoNoticias/7ec0067a-460f-11ec-aa6e-9587410378a2/marvel-disney-plus-shows.jpg"
            alt="">
         </div>
    
    <div class="small-card-title">
        <h1><a href="#">Novas Postagens do Blog</a></h1>
    </div>

    </div>
   
    <div class="container-small-card-separator">
        <hr>
    </div>

</div>



